.fondo_3{
    background-image: url(https://thumbs.dreamstime.com/z/un-modelo-de-las-pistas-caninas-de-diversos-tama%C3%B1os-rastros-de-un-perro-gris-claro-en-un-fondo-blanco-ejemplo-del-vector-en-una-93104261.jpg)!important;
     color: white;
    width: auto;
    height: 900px;
    margin-top: -15px;
    color: rgb(150, 150, 151);
}
.detalle{
    color:rgb(37, 37, 37);
    font-size: large;
    
}
.image_detail {
    border-radius: 10px;
    border: rgb(0, 0, 0) 3px solid ;
    width: 330px;
    height:270px;
    background-color: transparent;
    opacity: 0.9;
   margin-top: 0px;
    padding-top: 0px;
    color: rgb(150, 150, 151);
    border-color: rgb(196, 198, 69) ;
}
.dognamedetail {
display: flex;
margin-left: 650px;
padding-right: 50px;
padding-top: 195px;
font-size: 60px;
color: rgb(86, 86, 86);

padding-left: -600px;
margin-left: 420px;
}
.button_detail{
    display: flex;
    color:rgb(105, 103, 103);
    background-color: transparent;
    border-radius: 10px;
    width: 150px;
    height: 48px;
    margin-left: 690px;
    margin-top: 45px;
    padding-left: 30px;
    text-align: center;
    font-weight: 1000;
    font-size: x-large;
    border-color: rgb(5, 5, 5) ;
}
