.fondo_2{
    background-image: url(https://thumbs.dreamstime.com/z/un-modelo-de-las-pistas-caninas-de-diversos-tama%C3%B1os-rastros-de-un-perro-gris-claro-en-un-fondo-blanco-ejemplo-del-vector-en-una-93104261.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
    width: 1180px;
    color:rgb(0, 0, 0);
    padding-top: 220px;
    padding-right: 80px;
    text-decoration: none;
}

.tittle{
    text-decoration: none;
    background-color: transparent;
    text-decoration: solid;
    border-radius: 10px;
   
    color: rgb(4, 255, 221);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: -300px;
    margin-left: 383px;
    margin-top: -200px;
    width: 800px;
    height: 50px;
    font-size: 50px;

}
.button{
    outline: none;
    text-decoration: none;
    display: flex;
    color:rgb(129, 129, 129);
    background-color: transparent;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin-left: 57px;
    margin-top: -67px;
    font-weight: 1000;
    font-size: x-large;
    padding-left: 30px;
    
    

}
.button:hover{
    opacity: 0.9;
}
.create{
    text-decoration: none;
    display: flex;
    color:rgb(129, 129, 129);
    background-color: transparent;
    border-radius: 10px;
    width: 150px;
    height: 48px;
    margin-left: 250px;
    margin-top: -615px;
    text-align: center;
    font-weight: 1000;
    font-size: x-large;
    padding-left: 30px;
    text-decoration: none;

}
.temperament_finder{
    width: 30px;
    margin-left: 150px;
    border-radius: 20px;
}
.create:hover{
    opacity: 0.9;
}
.container{
    padding-top: 25px;
    margin-left: -2rem;
    margin-top: 50PX;
    border-radius: 10px;
}

.error {
    color:rgb(0, 98, 255);
    font-size: 14px;
    
}

.input_temperament{
    list-style: none;
    padding-left: 10px;
    font-size: x-large;
    color:rgb(0, 98, 255);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.x {
    color:rgb(0, 98, 255);
    font-weight: bold;
    font-size: x-large;
}

.x:hover {
    color: rgb(248, 248, 248);
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}
.input{
    display: flex;
    width: 250px;
    height: 25px;
    margin-top: 25px;
    margin-left: 150px;
    border-radius: 10px;
    

}
h1{
    padding-top: 0px;
    margin-left: 800px;
}