.footer {
    background-color: rgb(72, 72, 72);
    text-align: center;
    padding-left: 500px;
}

.info {
    color: white;
    font-size: 15px;
}

.NombreFooter {
    width: 700px;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: white;
    display: flex;
    
    margin-left: -160px;
}

.MailFooter {
    font-size: 20px;
    color: white;
}

.Siguenos {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.list-unstyled {
    color: white;
    font-size: 20px;
}


.bi-instagram {
    color: white
}

.instagram {
    color: white
}
.github{
    color:white;
    font-size: 20px;
}
.terminos {
    color: white;
}