.fondo {
    background-image: url('https://images.ecestaticos.com/MUsrmUgYGUwR5M6ZyyHCDmeFRUk=/0x0:2121x1414/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fd9e%2F66d%2F793%2Fd9e66d793adbc994841e60850a17e61c.jpg')!important;
 
}

.card_grid {
    display:grid;
    grid-template-columns: repeat(auto-fill, 270px);
    gap: 20px;

    margin-top: -20px;
    justify-content: center;
    transition: margin-left 0.3s 0.1s;
    color: white;
}

.create_button{
    font-weight: bold;
    color: red;
    font-size: 28px;
    text-decoration: none;
    opacity: 0.6;
}

.create_button:hover{
    opacity: 1;
}

.reload_dogs{
    background-color: transparent;
    color: rgb(51, 178, 34);
    font-weight: bold;
    outline: none;
    border:rgb(51, 178, 34); ;
    margin-left: 5rem;
    opacity: 0.6;
    font-size: 28px;
}

.reload_dogs:hover {
    opacity: 1;
}