.fondo {
     background-image: url(https://thumbs.dreamstime.com/z/un-modelo-de-las-pistas-caninas-de-diversos-tama%C3%B1os-rastros-de-un-perro-gris-claro-en-un-fondo-blanco-ejemplo-del-vector-en-una-93104261.jpg)!important; 

}

.card_grid {
    display:grid;
    grid-template-columns: repeat(auto-fill, 270px);
    gap: 5px;
  margin-left: -20px;
    margin-top: -46px;
    justify-content: center;
    transition: margin-left 0.3s 0.1s;
    color: rgb(150, 150, 151);
}

.create_button{
    display: flex;
    color:rgb(129, 129, 129);
    background-color: transparent;
    width: 150px;
    height: 50px;
    margin-left: 455px;
    margin-top: 0px;
    font-weight: 1000;
    font-size: x-large;
    padding-left: 30px;
    text-decoration: none;
}

.create_button:hover{
    opacity: 0.5;
    border-color: aqua;
  
}

.reload_dogs{
  outline:none;
    display: flex;
    color:rgb(129, 129, 129);
    background-color: transparent;
    width: 220px;
    height: 50px;
    margin-left: 630px;
    margin-top: -52px;
    font-weight: 1000;
    font-size: x-large;
    padding-left: 30px;
    border: 0px;
}

.reload_dogs:hover {
    opacity: 0.5;
}
.numberpage:active{
  color:rgb(165, 165, 165);
}
  .pagination > li {
    list-style: none;
   
  }
  .pagination > li > a,
  .pagination > li > span {
    float: left;
    padding: 8px 20px;
    line-height: 1.5;
    border: 1px solid rgb(185, 185, 185);
    margin-left: -1px;
  }

  .pagination > li.active > a {
    color: rgb(168, 168, 168);
    background-color: #a9a9a9;
    border-color: #979797;
  }
   .pagination > li > a:hover {
    background-color: #218838;
    color: white;
    cursor: pointer;
  } 
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
    margin-left: 0;
  }  
  .selectortemperament{
    border-radius: 10px;
    text-align: center;
    width: 150px;
    background-color:rgb(211, 200, 159);
  }