.landing_page {
    background-image: url('../images/303944.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    padding-top: 50px;
    margin: -55px;
    background-color: rgb(164, 162, 162);
   
}
.content {
     display: flex;
    width: 500px;
    height: 90px;
    color: red;
    font-size: 4rem;
    line-height: 80px;

    position: absolute;
    padding-left: 13rem;
    margin-left: 16rem;
    margin-top: 12rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
   
}

ul {
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;
    }
    ul,p{
        margin: 0;
    
    }
    
    @keyframes cambiar {
        0%{ marging-top: 0;}
        20%{ marging-top: 0;}
        25%{ marging-top: -40;}
        50%{ marging-top: -40;}
        55%{ marging-top: -80;}
        80%{ marging-top: -80;}
        85%{ marging-top: -40;}
        95%{ marging-top: -40;}
        100%{ marging-top: 0;}
    }

.subtitle_landing {
    
    top: 50rem;
    left: 28rem;
    left: 25rem;
    padding-left: 320px;
    
     width: 40rem;
  word-spacing: 0.1cm;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 2, 2);
    margin-top: 400px;

}

.button_landing {
    background: -o-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
    background: -moz-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
    background: -webkit-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
    background: linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
    
    height: 10%;
            width: 25%;
            margin-top: 65px;
            padding: 0px;
    color: #aaa;
font-size: xx-large;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border-radius: 15px;
margin-top: 150px;
}

.button_landing:hover {
   
    outline-offset: 80px;
    text-shadow: 5px 5px 5px rgb(255, 0, 0);
    border: 25px;
}

