.landing_page {
background-image: url('../images/303944.jpg');
width: 1335px;
height: 1000px;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
padding-top: 200px;
margin: 5px;
background-color: rgb(53, 53, 53);
}

.content {
display: flex;
width: 480px;
height: 90px;
color: rgb(60, 60, 60);
font-size: 4rem;
line-height: 80px;
position: absolute;
left: 30rem;
top: 12rem;
font-family: Arial, Helvetica, sans-serif;
overflow: hidden;
}

.tittle1 {
list-style: none;
display: flex;
margin-left: 0px;
animation: cambiar 4s infinite;
}
ul, p {
margin: 0;
}

@keyframes cambiar {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-20px);
    }
    40% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(-65px);
    }
    60% {
        transform: translateY(-80px);
    }
    70% {
        transform: translateY(-85px);
    }
    80% {
        transform: translateY(-90px);
    }
    85% {
        transform: translateY(-80px);
    }
    90% {
        transform: translateY(-50px);
    }
    95% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
     100% {
        transform: translateY(0px);
    }
}


.subtitle_landing {
position: absolute;
top: 400px;
left: 400px;
width: 40rem;
word-spacing: 0.1cm;
font-family: Arial, Helvetica, sans-serif;
color: rgb(60, 60, 60);
text-decoration: none;
font-size: xx-large;
}

.button_landing {
background: linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
height: 10%;
width: 25%;
padding: 0px;
color: #aaa;
font-size: xx-large;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border-radius: 15px;
margin-top: 300px;
margin-left: -200px;
}

.button_landing:hover {
outline-offset: 80px;
text-shadow: 5px 5px 5px rgb(228, 54, 54);
border: 25px;
}

.Nombre{
  color:rgb(177, 42, 42);
  font-weight: bold;
  margin-left:-200px ;
}
.githublanding{

  color:black;
    font-size:50px;
    margin-left: -200px;
}