.loader {
    margin-bottom: -5rem;
    color:rgb(99, 4, 139);
    letter-spacing: 0.5cm;
    background-color: rgb(255, 255, 255);
    
   
}

.fondo_1 {
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    border-image-slice:  50px;
}
