.pagination_container{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 2rem;
    
}


.pagination{
    margin-left: -10px;
    background-color: transparent;
    outline: none;
    border: 15px;
    font-weight: bold;
    color: rgb(188, 161, 61);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 2rem; 

}
.pagination-active{
    background-color: transparent;
    outline: none;
    border: 15px;
    font-weight: bold;
    color: rgb(255, 200, 0);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 2rem; 
}


 .pagination:hover{
    color: rgb(49, 49, 49); 
} 
.paginationactual{
    background-color: black;
    color: azure;
}